[submodule "DDDB"]
	path = DDDB
	url = git@github.com:chrisburr/lhcb-databases-dddb.git
	branch = global-tags
[submodule "SIMCOND"]
	path = SIMCOND
	url = git@github.com:chrisburr/lhcb-databases-simcond.git
	branch = global-tags
[submodule "Upgrade/DDDB"]
	path = Upgrade/DDDB
	url = git@github.com:chrisburr/lhcb-databases-upgrade-dddb.git
	branch = global-tags
[submodule "Upgrade/SIMCOND"]
	path = Upgrade/SIMCOND
	url = git@github.com:chrisburr/lhcb-databases-upgrade-simcond.git
	branch = global-tags
